[build]
builder = "nixpacks"
buildCommand = "dotnet restore && dotnet publish -c Release -o out"

[deploy]
startCommand = "cd out && dotnet ExamenParcial2.dll"
restartPolicyType = "ON_FAILURE"

[nixpacks]
plan = [
    { apt = [ "dotnet-sdk-9.0" ] },
    { apt = [ "aspnetcore-runtime-9.0" ] }
]

[env]
ASPNETCORE_ENVIRONMENT = "Production"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"